* {
    margin: 0;
}

header {
    height: 150px;
    background: #4EA0FF url("../img/pattern.png");
    position: relative;
}

#booleaner-logo {
    width: 300px;
    position: absolute;
    left: 0px;
    bottom: 20px;
}

.title {
    margin: 20px 0px;
    font-size: 30px;
}

.author {
    font-size: 20px;
}

.date {
    font-size: 15px;
}

.author a {
    text-decoration: none;
}

.news {
    font-size: 20px;
    margin: 20px 0px;
}